In [1]:
import pandas as pd
import numpy as np
from dataAccessor import get_intraday, get_daily, get_singletime
# from config import av_api_key
from util import compare_df_cols, TIME_MAP

In [2]:
class backTester():

    
    
    def __init__(self, order_book = None, stat_mode = None):
        self.orders = pd.DataFrame(columns=['order_id','ticker','order_type','qty','exec_date','exec_time','exec_fulldate'])
        self.stat_mode = stat_mode

        self.MAX_TRADE_DAYS = 180
        
        if order_book: 
            self.add_orders(order_book)
            
    def add_orders(self,order_book):

        order_book['exec_fulldate'] = order_book['exec_date'] + order_book['exec_time'].map(TIME_MAP)
       
        # adds orders to order book
        a_not_b = compare_df_cols(self.orders, order_book)
        assert a_not_b.empty
        
        to_add = order_book[['order_id','order_type','qty','exec_time','exec_date','ticker','exec_fulldate']]
        self.orders = pd.concat([self.orders, order_book])

    def get_pfolio_exec(self, stat_mode):
        
        self.orders['exec_price']=self.orders.apply(
            lambda row: get_singletime(
                ticker=row['ticker'],date=row['exec_date'],dot=row['exec_time'],price_freq=stat_mode
            )['price'].values[0], 
            axis=1
        )

    def get_pfolio_fwd(self, stat_mode):
        if stat_mode == 'daily':

            # get forward prices of each order's ticker starting at exec date
            self.pfolio_prices = self.orders.copy()

            self.pfolio_prices['fwd'] = self.pfolio_prices.apply(
                lambda row: get_daily(
                    row['ticker'],
                    start_date=row['exec_date'],
                    end_date=row['exec_date']+pd.Timedelta(days=self.MAX_TRADE_DAYS)
                ), 
                axis = 1
            )

            # unnest, creates df of prices with associated order_id on each row
            fwd_prices = (
                pd.concat(self.pfolio_prices.set_index(self.orders.columns.tolist()).pop('fwd').to_dict())
                .rename_axis(tuple(self.orders.rename(columns={'ticker':'exec_ticker'}).columns.tolist() + ['new']))
                # # .rename_axis(('order_id','new'))
                .reset_index(level=[i for i in range(len(self.orders.columns.tolist()))])
                .reset_index(drop=True)
            )
            assert fwd_prices['exec_ticker'].equals(fwd_prices['ticker'])
            
            fwd_prices.drop(columns=['exec_ticker'],inplace=True)
            
            # changes open/close columns into one column called trade_price
            fwd_prices_open = fwd_prices[['order_id','ticker','order_type','qty','exec_date','exec_time','exec_fulldate','exec_price','open','date']]
            fwd_prices_open.loc[:,'date'] = fwd_prices_open['date'] + pd.Timedelta(hours=9,minutes=30)
            fwd_prices_open.rename(columns={'date':'fwd_date','open':'fwd_price'}, inplace=True)

            fwd_prices_close = fwd_prices[['order_id','ticker','order_type','qty','exec_date','exec_time','exec_fulldate','exec_price','close','date']]
            fwd_prices_close.loc[:,'date'] = fwd_prices_close['date'] + pd.Timedelta(hours=16)
            fwd_prices_close.rename(columns={'date':'fwd_date','close':'fwd_price'}, inplace=True)
            
            self.pfolio_prices = pd.concat([fwd_prices_open, fwd_prices_close])
            
        elif stat_mode == 'intraday':
            raise NotImplementedError('TODO')
    
    def trade(self, stat_mode = None):
        if stat_mode:
            self.stat_mode = stat_mode
        # get data
        if stat_mode == 'daily':
            # get exec prices
            self.get_pfolio_exec(self.stat_mode)
            # get forward prices
            self.get_pfolio_fwd(self.stat_mode)
        
        elif stat_mode == 'intraday':
            raise NotImplementedError('TODO')
        # calculate positions

        # generate pfolio stats

    def results(self):
        raise NotImplementedError('TODO')

In [3]:
b = backTester()

In [4]:
test_orders = pd.DataFrame(
    [
        [1,'buy',1,'open',pd.to_datetime('2023-08-04'),'IBM'],
        [1,'buy',1,'open',pd.to_datetime('2022-03-08'),'GE']
    ], 
    index = [1, 2],
    columns=['order_id','order_type','qty','exec_time','exec_date','ticker']
)
test_orders

   order_id order_type  qty exec_time  exec_date ticker
1         1        buy    1      open 2023-08-04    IBM
2         1        buy    1      open 2022-03-08     GE

In [5]:
b.add_orders(test_orders)

In [6]:
b.orders

  order_id ticker order_type qty  exec_date exec_time       exec_fulldate
1        1    IBM        buy   1 2023-08-04      open 2023-08-04 09:30:00
2        1     GE        buy   1 2022-03-08      open 2022-03-08 09:30:00

In [7]:
b.trade(stat_mode = 'daily')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

C:\Users\danie\AppData\Local\Temp\ipykernel_7916\3682251619.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fwd_prices_open.rename(columns={'date':'fwd_date','open':'fwd_price'}, inplace=True)
C:\Users\danie\AppData\Local\Temp\ipykernel_7916\3682251619.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fwd_prices_close.rename(columns={'date':'fwd_date','close':'fwd_price'}, inplace=True)

In [8]:
b.orders

,order_id,ticker,order_type,qty,exec_date,exec_time,exec_fulldate,exec_price
1,1,IBM,buy,1,2023-08-04,open,2023-08-04 09:30:00,145.089996
2,1,GE,buy,1,2022-03-08,open,2022-03-08 09:30:00,67.939110

In [9]:
b.pfolio_prices

,order_id,ticker,order_type,qty,exec_date,exec_time,exec_fulldate,exec_price,fwd_price,fwd_date
0,1,IBM,buy,1,2023-08-04,open,2023-08-04 09:30:00,145.089996,145.089996,2023-08-04 09:30:00
1,1,IBM,buy,1,2023-08-04,open,2023-08-04 09:30:00,145.089996,145.000000,2023-08-07 09:30:00
2,1,IBM,buy,1,2023-08-04,open,2023-08-04 09:30:00,145.089996,145.699997,2023-08-08 09:30:00
3,1,IBM,buy,1,2023-08-04,open,2023-08-04 09:30:00,145.089996,144.940002,2023-08-09 09:30:00
4,1,IBM,buy,1,2023-08-04,open,2023-08-04 09:30:00,145.089996,143.039993,2023-08-10 09:30:00
...,...,...,...,...,...,...,...,...,...,...
132,1,GE,buy,1,2022-03-08,open,2022-03-08 09:30:00,67.939110,59.367680,2022-08-29 16:00:00
133,1,GE,buy,1,2022-03-08,open,2022-03-08 09:30:00,67.939110,58.649494,2022-08-30 16:00:00
134,1,GE,buy,1,2022-03-08,open,2022-03-08 09:30:00,67.939110,57.330212,2022-08-31 16:00:00
135,1,GE,buy,1,2022-03-08,open,2022-03-08 09:30:00,67.939110,57.049179,2022-09-01 16:00:00
136,1,GE,buy,1,2022-03-08,open,2022-03-08 09:30:00,67.939110,56.541763,2022-09-02 16:00:00