In [1]:
from dataAccessor import get_intraday, get_daily, get_singletime
from config import av_api_key

In [2]:
df = get_daily('GOOG')
df

[*********************100%%**********************]  1 of 1 completed

,date,open,high,low,close,adj_close,volume,ticker
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216,GOOG
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488,GOOG
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939,GOOG
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159,GOOG
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512,GOOG
...,...,...,...,...,...,...,...,...
4778,2023-08-14,129.850006,131.910004,129.589996,131.830002,131.830002,17526200,GOOG
4779,2023-08-15,131.589996,131.990005,129.819000,130.270004,130.270004,14769200,GOOG
4780,2023-08-16,129.279999,130.897995,128.460007,129.110001,129.110001,17548400,GOOG
4781,2023-08-17,130.449997,132.490997,129.850006,130.460007,130.460007,23665600,GOOG
4782,2023-08-18,129.059998,129.830002,127.000000,128.110001,128.110001,23619400,GOOG

In [3]:
df = get_intraday('GOOG')
df

NotImplementedError: TODO

In [4]:
df = get_singletime('GOOG','2023-08-18','open','daily')
df

[*********************100%%**********************]  1 of 1 completed

     ticker       date       price
4782   GOOG 2023-08-18  129.059998